<div class="md:py-20 xl:px-42 md:px-20 px-4 py-5 flex flex-col items-center md:items-start">
  <h1 class="text-4xl font-bold pb-6 text-center md:text-start">
    {{ tSer.translate('projetosParticipados') }}
  </h1>
  <div class="grid-container lg:max-w-300 xl:mx-auto">
    <app-projeto-card
      githubLink="https://github.com/vicenzofms/FmsTimerFX"
      [suptitle]="tSer.translate('projetoUmSup')"
      [title]="tSer.translate('projetoUmTitulo')"
      class="lg:[grid-area:proj1]"
    >
      {{ tSer.translate('projetoUmDesc') }}
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/vicenzofms/Neatly"
      [suptitle]="tSer.translate('projetoDoisSup')"
      [title]="tSer.translate('projetoDoisTitulo')"
      class="lg:[grid-area:proj2]"
    >
      {{ tSer.translate('projetoDoisDesc') }}
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/vicenzofms/kvim"
      [suptitle]="tSer.translate('projetoTresSup')"
      [title]="tSer.translate('projetoTresTitulo')"
      class="lg:[grid-area:proj3]"
    >
      {{ tSer.translate('projetoTresDesc') }}
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/ICEI-PUC-Minas-PMGES-TI/pmg-es-2025-1-ti2-3740100-dancesys"
      [suptitle]="tSer.translate('projetoQuatroSup')"
      [title]="tSer.translate('projetoQuatroTitulo')"
      class="lg:[grid-area:proj4]"
    >
      {{ tSer.translate('projetoQuatroDesc') }}
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/vicenzofms/TodoFullStack"
      [suptitle]="tSer.translate('projetoCincoSup')"
      [title]="tSer.translate('projetoCincoTitulo')"
      class="lg:[grid-area:proj5]"
    >
      {{ tSer.translate('projetoCincoDesc') }}
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/Tyyagoo/advanced_enchantments"
      [suptitle]="tSer.translate('projetoSeisSup')"
      [title]="tSer.translate('projetoSeisTitulo')"
      class="lg:[grid-area:proj6]"
    >
      {{ tSer.translate('projetoSeisDesc') }}
    </app-projeto-card>
  </div>
</div>
