<div class="md:py-20 xl:px-42 md:px-20 px-4 py-5 flex flex-col items-center md:items-start">
  <h1 class="text-4xl font-bold pb-6 text-center md:text-start">
    {{ tSer.translate('projetosParticipados') }}
  </h1>
  <div class="grid-container lg:max-w-300 xl:mx-auto">
    <app-projeto-card
      githubLink=""
      [suptitle]="tSer.translate('projetoUmSup')"
      [title]="tSer.translate('projetoUmTitulo')"
      class="lg:[grid-area:proj1]"
    >
      {{ tSer.translate('projetoUmDesc') }}
    </app-projeto-card>
    <app-projeto-card
      githubLink=""
      [suptitle]="tSer.translate('projetoDoisSup')"
      [title]="tSer.translate('projetoDoisTitulo')"
      class="lg:[grid-area:proj2]"
    >
      {{ tSer.translate('projetoDoisDesc') }}
    </app-projeto-card>
        <app-projeto-card
      githubLink=""
      [suptitle]="tSer.translate('projetoTresSup')"
      [title]="tSer.translate('projetoTresTitulo')"
      class="lg:[grid-area:proj3]"
    >
      {{ tSer.translate('projetoTresDesc') }}
    </app-projeto-card>
            <app-projeto-card
      githubLink=""
      [suptitle]="tSer.translate('projetoTresSup')"
      [title]="tSer.translate('projetoTresTitulo')"
      class="lg:[grid-area:proj3]"
    >
      {{ tSer.translate('projetoTresDesc') }}
    </app-projeto-card>
   
  </div>
</div>
